.featured{
    margin-top: 20px;
    width: 100%;
    max-width: 1024px;
    gap: 5px; 
    display: flex;
}
.featuredItem{
    margin-left: 180px;
    position:center;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    position: relative;
    color:black;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    gap: 100px;
    font-size: 10px;
    flex:1;
}
.featureImg{
     width: 200px;
     height:200px;
     object-fit: cover;
     display: flex;
}
.featureTitles{
    border:2px solid whitesmoke;
    background-color:whitesmoke;
}