.header{
    background-color: #00203fff;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px  0px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.headerDesc{
    margin: 20px 0px;
}
.headerBtn{
    background-color: whitesmoke;
    color: black;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.headerSearch{
    height: 30px;
    background-color: azure;
    border: 3px solid whitesmoke;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 10p 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: lightgrey;
}
.headerSearchInput{
    display: flex;
    align-items:last baseline;
    gap:10px ;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchItem{
    display: flex;
    gap: 380px;
}
.search{
    background-color:whitesmoke;
    cursor: pointer;
    color:#00203fff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}